@charset "utf-8";
/* CSS Document */

#cu3er_home {
	width:470px; height:150px; outline:0;
}
#cu3er_homestay {
	width:470px; height:177px; outline:0;
}
.logo{
	display:inline; 
	padding-top:4px;
}
#hsearch {
	height:32px;
	width:32px;
	margin-top:-2px;
	background:url(../jquery-mobile/iconsweets/108-search.png) no-repeat;
	background-size:32px 32px;
	border-color:#778547;
}
#hsearch:hover {
	background-color:#778547;
}
#hsearch.ui-btn-active {
	background-color:#E3EDBB;
	border-color:#778547;
}
#hback {
	height:32px;
	width:32px;
	margin-top:-2px;
	background: url(../jquery-mobile/iconsweets/65-left.png) no-repeat;
	background-size:32px 32px;
	border-color:#778547;
}
#hback:hover {
	background-color:#778547;
}
#hhome {
	height:32px;
	width:32px;
	margin-top:-2px;
	background: url(../jquery-mobile/iconsweets/1-home.png) no-repeat;
	background-size:32px 32px;
	border-color:#778547;
}
#hhome:hover {
	background-color:#778547;
}
#hlogin {
	height:32px;
	width:32px;
	margin-top:-2px;
	background: url(../jquery-mobile/iconsweets/14-group.png) no-repeat;
	background-size:32px 32px;
	border-color:#778547;
}
#hlogin:hover {
	background-color:#778547;
}

#baboutsabah {
	background: url(../jquery-mobile/iconsweets/136-pacmanghost.png) 50% 50% no-repeat; /*9-info.png*/
	background-size:32px 32px;
	background-position:5px 50%;
	margin-left:2%;
	margin-right:2%;
	width:auto;
	height:auto;
	text-align:left;
	padding-left:20px;
}
#btravelidea {
	background: url(../jquery-mobile/iconsweets/12-lightbulb.png) 50% 50% no-repeat;
	background-size:32px 32px;
	background-position:5px 50%;
	margin-left:2%;
	margin-right:2%;
	width:auto;
	height:auto;
	text-align:left;
	padding-left:20px;
}
#bguide {
	background: url(../jquery-mobile/iconsweets/90-footprint.png) 50% 50% no-repeat;
	background-size:32px 32px;
	background-position:6px 50%;
	margin-left:2%;
	margin-right:2%;
	width:auto;
	height:auto;
	text-align:left;
	padding-left:21px;
}
#bmap {
	background: url(../jquery-mobile/iconsweets/15-globe.png) 50% 50% no-repeat;
	background-size:32px 32px;
	background-position:6px 50%;
	margin-left:2%;
	margin-right:2%;
	width:auto;
	height:auto;
	text-align:left;
	padding-left:21px;
}
#bdestination {
	background: url(../jquery-mobile/iconsweets/4-signpost.png) 50% 50% no-repeat;
	background-size:32px 32px;
	background-position:6px 50%;
	margin-left:2%;
	margin-right:2%;
	width:auto;
	height:auto;
	text-align:left;
	padding-left:21px;
}
#bhotspot {
	background: url(../jquery-mobile/iconsweets/104-flag.png) 50% 50% no-repeat;
	background-size:32px 32px;
	background-position:6px 50%;
	margin-left:2%;
	margin-right:2%;
	width:auto;
	height:auto;
	text-align:left;
	padding-left:21px;
}
#bplacedistrict {
	background: url(../jquery-mobile/iconsweets/33-list.png) 50% 50% no-repeat;
	background-size:32px 32px;
	background-position:6px 50%;
	margin-left:2%;
	margin-right:2%;
	width:auto;
	height:auto;
	text-align:left;
	padding-left:21px;
}
#bplacetype {
	background: url(../jquery-mobile/iconsweets/33-list.png) 50% 50% no-repeat;
	background-size:32px 32px;
	background-position:6px 50%;
	margin-left:2%;
	margin-right:2%;
	width:auto;
	height:auto;
	text-align:left;
	padding-left:21px;
}
#bplace_sport {
	background: url(../jquery-mobile/iconsweets/159-power.png) 50% 50% no-repeat;
	background-size:32px 32px;
	background-position:6px 50%;
	margin-left:2%;
	margin-right:2%;
	width:auto;
	height:auto;
	text-align:left;
	padding-left:21px;
}
#bplace_city {
	background: url(../jquery-mobile/iconsweets/6-hotel.png) 50% 50% no-repeat;
	background-size:32px 32px;
	background-position:6px 50%;
	margin-left:2%;
	margin-right:2%;
	width:auto;
	height:auto;
	text-align:left;
	padding-left:21px;
}
#bplace_cultural {
	background: url(../jquery-mobile/iconsweets/22-song.png) 50% 50% no-repeat;
	background-size:32px 32px;
	background-position:6px 50%;
	margin-left:2%;
	margin-right:2%;
	width:auto;
	height:auto;
	text-align:left;
	padding-left:21px;
}
#bplace_golf {
	background: url(../jquery-mobile/iconsweets/104-flag.png) 50% 50% no-repeat;
	background-size:32px 32px;
	background-position:6px 50%;
	margin-left:2%;
	margin-right:2%;
	width:auto;
	height:auto;
	text-align:left;
	padding-left:21px;
}
#bplace_heritage {
	background: url(../jquery-mobile/iconsweets/149-expose.png) 50% 50% no-repeat;
	background-size:32px 32px;
	background-position:6px 50%;
	margin-left:2%;
	margin-right:2%;
	width:auto;
	height:auto;
	text-align:left;
	padding-left:21px;
}
#bplace_island {
	background: url(../jquery-mobile/iconsweets/90-footprint.png) 50% 50% no-repeat;
	background-size:32px 32px;
	background-position:6px 50%;
	margin-left:2%;
	margin-right:2%;
	width:auto;
	height:auto;
	text-align:left;
	padding-left:21px;
}
#bplace_relax {
	background: url(../jquery-mobile/iconsweets/137-pacman.png) 50% 50% no-repeat;
	background-size:32px 32px;
	background-position:6px 50%;
	margin-left:2%;
	margin-right:2%;
	width:auto;
	height:auto;
	text-align:left;
	padding-left:21px;
}
#bplace_nature {
	background: url(../jquery-mobile/iconsweets/133-tree.png) 50% 50% no-repeat;
	background-size:32px 32px;
	background-position:6px 50%;
	margin-left:2%;
	margin-right:2%;
	width:auto;
	height:auto;
	text-align:left;
	padding-left:21px;
}
#bplace_park {
	background: url(../jquery-mobile/iconsweets/146-leaf.png) 50% 50% no-repeat;
	background-size:32px 32px;
	background-position:6px 50%;
	margin-left:2%;
	margin-right:2%;
	width:auto;
	height:auto;
	text-align:left;
	padding-left:21px;
}
#bplace_tamu {
	background: url(../jquery-mobile/iconsweets/113-shopping.png) 50% 50% no-repeat;
	background-size:32px 32px;
	background-position:6px 50%;
	margin-left:2%;
	margin-right:2%;
	width:auto;
	height:auto;
	text-align:left;
	padding-left:21px;
}
#bplace_spa {
	background: url(../jquery-mobile/iconsweets/99-umbrella.png) 50% 50% no-repeat;
	background-size:32px 32px;
	background-position:6px 50%;
	margin-left:2%;
	margin-right:2%;
	width:auto;
	height:auto;
	text-align:left;
	padding-left:21px;
}
#bplace_wildlife {
	background: url(../jquery-mobile/iconsweets/147-linux.png) 50% 50% no-repeat;
	background-size:32px 32px;
	background-position:6px 50%;
	margin-left:2%;
	margin-right:2%;
	width:auto;
	height:auto;
	text-align:left;
	padding-left:21px;
}
#bplace_district {
	background: url(../jquery-mobile/iconsweets/34-listimage.png) 50% 50% no-repeat;
	background-size:32px 32px;
	background-position:6px 50%;
	margin-left:2%;
	margin-right:2%;
	width:auto;
	height:auto;
	text-align:left;
	padding-left:21px;
}
#baccomodation {
	background: url(../jquery-mobile/iconsweets/6-hotel.png) 50% 50% no-repeat;
	background-size:32px 32px;
	background-position:6px 50%;
	margin-left:2%;
	margin-right:2%;
	width:auto;
	height:auto;
	text-align:left;
	padding-left:21px;
}
#bhomestay {
	background: url(../jquery-mobile/iconsweets/1-home.png) 50% 50% no-repeat;
	background-size:32px 32px;
	background-position:6px 50%;
	margin-left:2%;
	margin-right:2%;
	width:auto;
	height:auto;
	text-align:left;
	padding-left:21px;
}
#bhoteldistrict {
	background: url(../jquery-mobile/iconsweets/33-list.png) 50% 50% no-repeat;
	background-size:32px 32px;
	background-position:6px 50%;
	margin-left:2%;
	margin-right:2%;
	width:auto;
	height:auto;
	text-align:left;
	padding-left:21px;
}
#bhoteltype {
	background: url(../jquery-mobile/iconsweets/33-list.png) 50% 50% no-repeat;
	background-size:32px 32px;
	background-position:6px 50%;
	margin-left:2%;
	margin-right:2%;
	width:auto;
	height:auto;
	text-align:left;
	padding-left:21px;
}
#bhotel_district {
	background: url(../jquery-mobile/iconsweets/34-listimage.png) 50% 50% no-repeat;
	background-size:32px 32px;
	background-position:6px 50%;
	margin-left:2%;
	margin-right:2%;
	width:auto;
	height:auto;
	text-align:left;
	padding-left:21px;
}
#bhotel_condo {
	background: url(../jquery-mobile/iconsweets/6-hotel.png) 50% 50% no-repeat;
	background-size:32px 32px;
	background-position:6px 50%;
	margin-left:2%;
	margin-right:2%;
	width:auto;
	height:auto;
	text-align:left;
	padding-left:21px;
}
#bhotel_beach {
	background: url(../jquery-mobile/iconsweets/90-footprint.png) 50% 50% no-repeat;
	background-size:32px 32px;
	background-position:6px 50%;
	margin-left:2%;
	margin-right:2%;
	width:auto;
	height:auto;
	text-align:left;
	padding-left:21px;
}
#bhotel_bed {
	background: url(../jquery-mobile/iconsweets/5-food.png) 50% 50% no-repeat;
	background-size:32px 32px;
	background-position:6px 50%;
	margin-left:2%;
	margin-right:2%;
	width:auto;
	height:auto;
	text-align:left;
	padding-left:21px;
}
#bhotel_budget {
	background: url(../jquery-mobile/iconsweets/6-hotel.png) 50% 50% no-repeat;
	background-size:32px 32px;
	background-position:6px 50%;
	margin-left:2%;
	margin-right:2%;
	width:auto;
	height:auto;
	text-align:left;
	padding-left:21px;
}
#bhotel_business {
	background: url(../jquery-mobile/iconsweets/6-hotel.png) 50% 50% no-repeat;
	background-size:32px 32px;
	background-position:6px 50%;
	margin-left:2%;
	margin-right:2%;
	width:auto;
	height:auto;
	text-align:left;
	padding-left:21px;
}
#bhotel_island {
	background: url(../jquery-mobile/iconsweets/90-footprint.png) 50% 50% no-repeat;
	background-size:32px 32px;
	background-position:6px 50%;
	margin-left:2%;
	margin-right:2%;
	width:auto;
	height:auto;
	text-align:left;
	padding-left:21px;
}
#bhotel_lodges {
	background: url(../jquery-mobile/iconsweets/2-home.png) 50% 50% no-repeat;
	background-size:32px 32px;
	background-position:6px 50%;
	margin-left:2%;
	margin-right:2%;
	width:auto;
	height:auto;
	text-align:left;
	padding-left:21px;
}
#bhomestay_loc {
	background: url(../jquery-mobile/iconsweets/1-home.png) 50% 50% no-repeat;
	background-size:32px 32px;
	background-position:6px 50%;
	margin-left:2%;
	margin-right:2%;
	width:auto;
	height:auto;
	text-align:left;
	padding-left:21px;
}
#bsearch2 {
	background: url(../jquery-mobile/iconsweets/108-search.png) 50% 50% no-repeat;
	background-size:32px 32px;
	background-position:6px 50%;
	margin-left:2%;
	margin-right:2%;
	width:auto;
	height:auto;
	text-align:left;
	padding-left:21px;
}

#button_seller {
	background: url(../jquery-mobile/iconsweets/136-pacmanghost.png) 50% 50% no-repeat;
	background-size:32px 32px;
	background-position:6px 50%;
	margin-left:2%;
	margin-right:2%;
	width:auto;
	height:auto;
	text-align:left;
	padding-left:21px;
}
#bsetting {
	background: url(../jquery-mobile/iconsweets/40-setting.png) 50% 50% no-repeat;
	background-size:32px 32px;
	background-position:6px 50%;
	margin-left:2%;
	margin-right:2%;
	width:auto;
	height:auto;
	text-align:left;
	padding-left:21px;
}
#blist_item {
	background: url(../jquery-mobile/iconsweets/34-listimage.png) 50% 50% no-repeat;
	background-size:32px 32px;
	background-position:6px 50%;
	margin-left:2%;
	margin-right:2%;
	width:auto;
	height:auto;
	text-align:left;
	padding-left:21px;
}
#badd_item {
	background: url(../jquery-mobile/iconsweets/35-listimage2.png) 50% 50% no-repeat;
	background-size:32px 32px;
	background-position:6px 50%;
	margin-left:2%;
	margin-right:2%;
	width:auto;
	height:auto;
	text-align:left;
	padding-left:21px;
}
#bnotification {
	background: url(../jquery-mobile/iconsweets/93-alert2.png) 50% 50% no-repeat;
	background-size:32px 32px;
	background-position:6px 50%;
	margin-left:2%;
	margin-right:2%;
	width:auto;
	height:auto;
	text-align:left;
	padding-left:21px;
}

#bmsg_seller {
	background: url(../jquery-mobile/iconsweets/43-bubble2.png) 50% 50% no-repeat;
	background-size:32px 32px;
	background-position:6px 50%;
	margin-left:2%;
	margin-right:2%;
	width:auto;
	height:auto;
	text-align:left;
	padding-left:21px;
}
#button_buyer {
	background: url(../jquery-mobile/iconsweets/147-linux.png) 50% 50% no-repeat;
	background-size:32px 32px;
	background-position:6px 50%;
	margin-left:2%;
	margin-right:2%;
	width:auto;
	height:auto;
	text-align:left;
	padding-left:21px;
}
#button_latest {
	background: url(../jquery-mobile/iconsweets/34-listimage.png) 50% 50% no-repeat;
	background-size:32px 32px;
	background-position:6px 50%;
	margin-left:2%;
	margin-right:2%;
	width:auto;
	height:auto;
	text-align:left;
	padding-left:21px;
}


#baboutsabah:hover, #btravelidea:hover, #bguide:hover, #bmap:hover, #bdestination:hover, #bhotspot:hover, #bplacedistrict:hover, #bplacetype:hover, #bplace_sport:hover, #bplace_city:hover, #bplace_cultural:hover, #bplace_golf:hover, #bplace_heritage:hover, #bplace_island:hover, #bplace_relax:hover, #bplace_nature:hover, #bplace_park:hover, #bplace_tamu:hover, #bplace_spa:hover, #bplace_wildlife:hover, #bplace_district:hover, #baccomodation:hover, #bhomestay:hover, #bhoteldistrict:hover, #bhoteltype:hover, #bhotel_district:hover, #bhotel_condo:hover, #bhotel_beach:hover, #bhotel_bed:hover, #bhotel_budget:hover, #bhotel_business:hover, #bhotel_island:hover, #bhotel_lodges:hover, #bhomestay_loc:hover, #bsearch2:hover, #button_seller:hover, #bsetting:hover, #blist_item:hover, #badd_item:hover, #bnotification:hover, #bmsg_seller:hover, #button_buyer:hover, #button_latest:hover {
	background-color:#E3EDBB;
}
#dmap {
	background-color:#F00;
}
#img_map {
    display: block;
    width: 100%;
	text-align:center;
}
#home_popular {
	margin-left:2%;
	margin-right:2%;
	text-align:left;
}
.img_popular {
	float:left; 
	margin-left:-10px; 
	margin-right:10px;
}

#page_divider {
	text-align:center;
	width:104%;
	height:24px;
	background-color:#A4B567;
	color:#444444;
	font-size: 14px;
	font-weight: 700;
	text-shadow: 0 -1px 0 #ffffff;
	padding-top:8px;
	margin-left:-2%;
}
a.ui-li-has-count span span.ui-btn-text{ padding-right:0; position:static; }
.custom-count-pos{
    font-size: 11px;
    font-weight: bold;
    padding: 0.2em 0.5em;
    float: right;
}


///////////////////////ICONSWEETS//////////////////////////////////////////
.nav-glyphish .ui-btn .ui-btn-inner { padding-top: 40px !important; }
.nav-glyphish .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: none !important; border-radius: none !important; }
#fhome .ui-icon { background:  url(../jquery-mobile/iconsweets/1-home.png) 50% 50% no-repeat; background-size: 26px 26px;}
#fplace .ui-icon { background:  url(../jquery-mobile/iconsweets/3-marker.png) 50% 50% no-repeat; background-size: 26px 26px; }
#fhotel .ui-icon { background:  url(../jquery-mobile/iconsweets/6-hotel.png) 50% 50% no-repeat; background-size: 26px 26px; }
#ffood .ui-icon { background:  url(../jquery-mobile/iconsweets/5-food.png) 50% 50% no-repeat; background-size: 26px 26px; }
#fmore .ui-icon { background:  url(../jquery-mobile/iconsweets/7-menu.png) 50% 50% no-repeat; background-size: 26px 26px; }
/*#hsearch .ui-icon { background:  url(../jquery-mobile/iconsweets/108-search.png) 50% 50% no-repeat; background-size: 26px 26px; }*/
/////////////////////////////////////////////////////////////////////